/node_modules
.idea
.fleet
.env
.env.production
smtp.config.json
**/.DS_Store
*.iml
yarn.lock
**-lock.json
/nbproject
/upload
/dist
/osi
/buyerpro
mockup/main/build
mockup/main/node_modules
mockup/providers/build
mockup/providers/node_modules
.vscode
