.footer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #4B5876;

  @media only screen and (max-width: 944px) {
    font-size: 10px;
  }

  &__version{
    margin-right: 10px;
  }

  &__copy{
    margin-left: 10px;
    margin-right: 10px;
  }

  div{
    display: flex;
    flex-direction: row;
  }

  a{
    color: #4B5876;
    cursor: pointer;

    &:nth-child(2){
      margin-left: 10px;
    }
    &:nth-child(3){
      margin-left: 10px;
    }
  }

  img{
    width: 24px;
    height: 24px;

    opacity: 0.5;

    &:hover{
      opacity: 1;
    }

    @media only screen and (max-width: 944px) {
      width: 16px;
      height: 16px;
    }
  }
}