.chat {

	&__view {
		position: relative;
		display: flex;
		flex-direction: column;

		.btn--primery{
			margin: 0 10px;
			margin-bottom: 10px;
		}

		@media only screen and (min-width:944px) and (max-width: 1280px) {
			.btn--primery{
				padding: 6px 8px;
				gap: 6px;
				box-shadow: 1px 1px 6px #C9D9E8, -6px -6px 14px #fff;
				border-radius: 6px;
				font-weight: 400;
				font-size: 16px;
				line-height: 14px;
				height: 30px;
			}
		}
	}

	&__messages {
		display: flex;
		flex-direction: column;
		padding: 10px;
		height: 1px; /* new */
		flex-grow: 1;
		flex-flow: column nowrap;
		overflow-y: scroll;
	}

	&__message {
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		align-items: start;

		&-wrapper {
			display: flex;
			flex-direction: column;
			margin-left: 10px;

			//inline-size: min-content;
			word-break: break-word;
			overflow-wrap: break-word;
		}

		.chat__time {
			font-size: 12px;

			@media only screen and (min-width:944px) and (max-width: 1280px) {
				font-size: 8px;
			}
		}

		.chat__user {
			font-weight: bold;

			@media only screen and (min-width:944px) and (max-width: 1280px) {
				font-size: 14px;
			}
		}

		.chat__avatar {
			width: 32px;
			height: 32px;
			border-radius: 50%;

			@media only screen and (min-width:944px) and (max-width: 1280px) {
				width: 24px;
				height: 24px;
			}
		}

		.chat__text {
			white-space: pre;
			//margin-left: 10px;
			text-wrap: wrap;

			overflow-wrap: break-word;
			word-break: break-word;
			text-overflow: ellipsis;
		}

		@media only screen and (min-width:944px) and (max-width: 1280px) {
			font-size: 14px;
		}
	}

	&__sign{
		margin: 0 10px;
		color: #4B5876;

		@media only screen and (min-width:944px) and (max-width: 1280px) {
			padding: 6px 8px;
			gap: 6px;
			box-shadow: 1px 1px 6px #C9D9E8, -6px -6px 14px #fff;
			border-radius: 6px;
			font-weight: 400;
			font-size: 16px;
			line-height: 14px;
			height: 30px;
		}
	}

	&__form {
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: stretch;
		padding: 10px;

		.textarea {
			flex: 1;
			padding: 5px;
			border: 1px solid #C9D9E8;
			border-radius: 8px;
			outline: none;
			min-height: 35px;
		}

		button {
			margin-left: 10px;

			svg {
				opacity: 0.5;
			}

			&:hover {
				svg {
					opacity: 1;
				}
			}
		}

		.chat__avatar{
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin-right: 5px;

			@media only screen and (min-width:944px) and (max-width: 1280px) {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__title{
		padding: 10px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: stretch;

		.btn{
			cursor: pointer;

			svg{
				width: 32px;
				height: 32px;
				fill: black;
			}
		}
	}

	&__count {
		font-weight: bold;
		font-size: 19px;
		display: flex;
		flex: 1;

		@media only screen and (min-width:944px) and (max-width: 1280px) {
			font-size: 14px;
		}
	}
}
