.video-page{
  display: flex;
  flex: 1;
  flex-direction: column;

  &__container{
    display: flex;
    flex-direction: row;
    flex: 1;

    @media only screen and (max-width: 944px) {
      flex-direction: column;
    }
  }

  &__wrapper{
    position: relative;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .input-select{
      position: absolute;
      top: 10px;
      right: 10px;

      &__title{
       display: none;
      }

      .select-selected{
        background-color: rgba(0,0,0, 0.5) !important;
        color: white;

        &.select-arrow-active{
          border-color: black;
        }
      }

      .select-items{
        background-color: rgba(0, 0, 0, 0.5);
        border-color: black;

        div {
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
        }
      }
    }

    @media only screen and (max-width: 944px) {
      flex: 1;
    }
  }
  &__placeholder{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  &__player{
    position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    background-color: black;
  }

  &__chat{
    display: flex;
    flex: 1;
  }
}